@import "../../themes/scalpel.globals.scss";

.button {

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    min-height: 8pt;
    height: 32pt;
    min-width: 8pt;
    width: 128pt;

    margin: 8pt;

    background: current-color(base);
    color: current-color(contrast);

    transition: 0.5s;
    box-shadow: 0 3pt 8pt rgba(0, 0, 0, 0.2);

    .scpl-button-content {

        margin: auto;

    }

}

.button:hover {
    box-shadow: 0 6pt 16pt rgba(0, 0, 0, 0.2);
}
