@import "../../themes/scalpel.globals.scss";

.button {

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    min-height: 8pt;
    height: 32pt;
    min-width: 8pt;
    width: 128pt;

    margin: 8pt;
    
    // For background images
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: local;

    transition: 0.5s;
    box-shadow: 0 3pt 8pt rgba(0, 0, 0, 0.2);

    .button-content {

        margin: auto;

    }

}

.button:hover {
    box-shadow: 0 6pt 16pt rgba(0, 0, 0, 0.2);
}

.scpl-type-opaque {

    .button {
        background-color: #fff;
    }

    .ion-color .button {
        background: current-color(base);
        color: current-color(contrast);
    }

}

.scpl-type-frosted {

    .button {
        backdrop-filter: blur(32pt); // https://bugzilla.mozilla.org/show_bug.cgi?id=1178765
        background: rgba(255, 255, 255, 0.25);
    }

    .ion-color .button {
        background: rgba(current-color(base-rgb), 0.25);
        color: current-color(contrast);
    }

}

.scpl-type-transparent {

    .button {
        box-shadow: none;
    }

    .ion-color .button {
        color: current-color(base);
    }

}

.scpl-type-outline {

    text-shadow: 0 3pt 8pt rgba(0, 0, 0, 0.2);

    .button {
        border: 1pt solid #000;
    }

    .ion-color .button {
        border: 1pt solid current-color(base);
        color: current-color(base);
    }

    .button:hover {
        text-shadow: 0 6pt 16pt rgba(0, 0, 0, 0.2);
    }

}
