@import "../../themes/scalpel.globals.scss";

.card {

    min-width: 80pt;
    max-width: 360pt; // 240pt

    margin: 8pt;
    padding: 16pt;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    // For background images
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: local;

    overflow: hidden;

    transition: 0.5s;
    box-shadow: 0 3pt 8pt rgba(0, 0, 0, 0.2);

    .card-start {
    
        justify-self: flex-start;
    
    }
    
    .card-body {

        justify-self: center;
        text-align: left;
    
    }
    
    .card-end {
    
        justify-self: flex-end;
    
    }

}

.card:hover {
    box-shadow: 0 6pt 16pt rgba(0, 0, 0, 0.2);
}

.scpl-type-opaque {

    .card {
        background-color: #fff;
    }

    .ion-color .card {
        background: current-color(base);
        color: current-color(contrast);
    }

}

.scpl-type-frosted {

    .card {
        backdrop-filter: blur(32pt); // https://bugzilla.mozilla.org/show_bug.cgi?id=1178765
        background: rgba(255, 255, 255, 0.25);
    }

    .ion-color .card {
        background: rgba(current-color(base-rgb), 0.25);
        color: current-color(contrast);
    }

}

.scpl-type-transparent {

    .card {
        box-shadow: none;
    }

    .ion-color .card {
        color: current-color(base);
    }

}

.scpl-type-outline {

    text-shadow: 0 3pt 8pt rgba(0, 0, 0, 0.2);

    .card {
        border: 1pt solid #000;
    }

    .ion-color .card {
        border: 1pt solid current-color(base);
        color: current-color(base);
    }

    .card:hover {
        text-shadow: 0 6pt 16pt rgba(0, 0, 0, 0.2);
    }

}
