@import "../../themes/scalpel.globals.scss";

.section {

    width: 100%;
    min-height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
    // For background images
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: local;

    overflow: hidden;

    transition: 0.5s;
    box-shadow: 0 3pt 8pt rgba(0, 0, 0, 0.2);

    .section-align-vert {

        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .section-start {
        
            width: 30%;
            min-width: 240pt;
            padding: 8pt;
        
        }
        
        .section-body {
    
            text-align: left;
            width: 90%;
            max-width: 480pt;
            padding: 8pt;
        
        }
        
        .section-end {
        
            width: 30%;
            min-width: 240pt;
            padding: 8pt;
    
        }

    }

}

.section:hover {
    box-shadow: 0 6pt 16pt rgba(0, 0, 0, 0.2);
}

.scpl-type-opaque {

    .section {
        background-color: #fff;
    }

    .ion-color .section {
        background: current-color(base);
        color: current-color(contrast);
    }

}

.scpl-type-frosted {

    .section {
        backdrop-filter: blur(32pt); // https://bugzilla.mozilla.org/show_bug.cgi?id=1178765
        background: rgba(255, 255, 255, 0.25);
    }

    .ion-color .section {
        background: rgba(current-color(base-rgb), 0.25);
        color: current-color(contrast);
    }

}

.scpl-type-transparent {

    .section {
        box-shadow: none;
    }

    .ion-color .section {
        color: current-color(base);
    }

}

.scpl-type-outline {

    text-shadow: 0 3pt 8pt rgba(0, 0, 0, 0.2);

    .section {
        border: 1pt solid #000;
    }

    .ion-color .section {
        border: 1pt solid current-color(base);
        color: current-color(base);
    }

    .section:hover {
        text-shadow: 0 6pt 16pt rgba(0, 0, 0, 0.2);
    }

}
